@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    
    src: url('../fonts/roboto/Roboto-Regular.woff');
    src: url('../fonts/roboto/Roboto-Regular.woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    
    src: url('../fonts/roboto/Roboto-Bold.woff');
    src: url('../fonts/roboto/Roboto-Bold.woff2');
}
